
.bodyText {
    color:#667380;
}
  
.contentMediaBody {
    padding: 2px 9px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.contentDotVertical {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
  
  .contentDotVertical svg {
    color:#667380;
  }
  

.iterationUsers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

  .iterationUsers button {
    background: none;
    border:none;
  }

  .iterationUsers svg {
      margin: 0 auto;
      color:#667380;
  }

  .iterationUsers span {
      color: #fff;
  }

.media {
    border-radius: 12px;
    padding: 8px 0px 8px 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    display: flex;
    background-color: #353d47;
  }
  
  .media-left {
    align-items: flex-start;
    border-right: 2px solid #667380;
    width: 10%;
  }
  
  .media-body {
    width: 80%;
  }
  
  .media-right {
    align-items: flex-end;
    width: 10%;
  }
  
span.autor {
    color: #fff;
}

span.timepublish {
    color: #93d74a;
}

p span {
  margin-left: 2vh;  
}
p img {
    width: 2.6vh;
    height: 2.6vh;
    border: 1px solid #7b7b80;
    border-radius: 24px;
}  